<!DOCTYPE html>
{% load static %}
{% csrf_token %}
  
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>Index</title>

</head>
<body>
    <nav>
      <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
          <a class="nav-link disabled" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="cadastro">Cadastro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="webscraping">Atualizar</a>
        </li>
      </ul>
    </nav>
    <br>
    <br>
    <br>
    <br>
    
    <div id="left">
      <img src="{% static 'img/serieA.png' %}" alt="">
      <table class="table table-striped">
        <Thead>
          <tr>
            <th>Nome</th>
            <th>Sigla</th>
            <th>Serie</th>
          </tr>
        </Thead>
        <tbody>
            
            {% for time in serieA%}
            <tr class="table-active">
              <td>{{time.nome }}</td>
              <td>{{time.sigla }}</td>
              <td>{{time.serie }}</td>
                
              <td><a  href="{% url 'confirme' time.id %}" class="btn"><img id="btn-remover" src="{% static 'img/remover.png '%}" alt=""></a></td>
              <td><a href="{% url 'estatisticas' time.sigla %}"><img id="btn-lupa" src="{% static 'img/lupa.png'%}" alt=""></a></td>
            </tr>
  
            {% endfor%}
          
        </tbody>
      </table>
    </div>
    
    <div id="rigth">
      <img src="{% static 'img/serieB.png' %}" alt="">
    <table class="table table-striped">
      <Thead>
        <tr>
          <th>Nome</th>
          <th>Sigla</th>
          <th>Serie</th>
          
        </tr>
      </Thead>
      <tbody>
          
          {% for time in serieB%}
            <tr class="table-active">
              <td>{{time.nome }}</td>
              <td>{{time.sigla }}</td>
              <td>{{time.serie }}</td>
              <td><a  href="{% url 'confirme' time.id %}" class="btn"><img id="btn-remover" src="{% static 'img/remover.png '%}" alt=""></a></td>
              <td><a href="{% url 'estatisticas' time.sigla %}"><img id="btn-lupa" src="{% static 'img/lupa.png'%}" alt=""></a></td>
            </tr>
          {% endfor%}
        
      </tbody>
    </table>
    </div>
    
   
</body>
</html>