.btn-lg{
    margin-top: 5%;
    float: inline-start !important;
    margin-left: 20%;
}
.btn-sm{
    margin-left: 47% !important;
    margin-top: 6%;
}
input{
    width: 30% !important;
}
#main{
    margin-left: 38%;
    margin-top: 10%;
}
img{
    justify-content: center !important;
    margin-bottom: 10px;
}
table{
    width: 40% !important;
    justify-content: center !important;
}
nav{
    color: white;
    background-color: black;
    font-size: 20px;
    text-align: center !important;
}
#delete{
    text-align: center;
}
#left{
    float: left !important;
    margin-left: 20%;
}
#rigth{
    float: right !important;
    margin-right: 20%;
}
#btn-remover{
    height: 20px;
}
#btn-lupa{
    margin-top: 6px;
    padding: 3px;
    height: 20px;
}
/* tabela */
#table-center{
    margin-left: 38%;
}
td 
{
    height: 50px; 
    width: 50px;
}

#table-center td 
{
    text-align: center; 
    vertical-align: middle;
}
#table-center th
{
    text-align: center; 
    vertical-align: middle;
}